<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huangyu.mdfolder">

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">

        <activity
            android:name=".ui.activity.FileListActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_settings"
            android:theme="@style/AppThemeBlue" />

        <activity
            android:name=".ui.activity.ImageBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_image_browser"
            android:theme="@style/AppThemeBlue" />

        <activity
            android:name=".ui.activity.VideoBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_video_browser"
            android:theme="@style/AppThemeBlue" />

        <activity
            android:name=".ui.activity.AudioBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_audio_browser"
            android:theme="@style/AppThemeBlue" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huangyu.mdfolder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1f4309ff5fbc0" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="552c1033b23b886d203ab7e8b73c55a5" />

    </application>

</manifest>