<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huangyu.mdfolder">

    <application
        android:name=".app.BootApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlue">

        <activity
            android:name=".ui.activity.FileListActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppThemeBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_settings"
            android:theme="@style/AppThemeBlue" />

        <activity
            android:name=".ui.activity.ImageBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_image_browser"
            android:theme="@style/AppThemeBlue" />

        <activity
            android:name=".ui.activity.VideoBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_video_browser"
            android:theme="@style/AppThemeBlue" />

        <activity
            android:name=".ui.activity.AudioBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label="@string/str_audio_browser"
            android:theme="@style/AppThemeBlue" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.huangyu.mdfolder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>